img {
  width: 175px;
  margin: 0px 50px 0px 0px;
}
.closeBtn {
  font-size: 40px;
  font-weight: 550;
  position: absolute;
  top: -7%;
  left: 92.5%;
  cursor: pointer;
  z-index: 50;
}

.info {
  position: relative;
  top: -290px;
  left: 50%;
  max-width: 225px;
  font-size: 17px;
}
