.genre-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 100px 0px 0px 0px;
  flex-wrap: wrap;
  padding: 0px;
}

.genre-button {
  padding: 15px 25px;
  background-color: #007bff;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 60px;
  height: 20px;
}

.genre-button:hover {
  cursor: pointer;
  background-color: #0056b3;
}
@media (max-width: 768px) {
  .genre-buttons {
    margin: 50px 0px 0px 0px;
    gap: 15px;
  }
  .genre-button {
    padding: 10px 20px;
    font-size: 12px;
    width: 40px;
  }
}
