.movie-list {
  margin: 120px 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.movie {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  margin: 0 30px 60px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  background-color: #ffffff48;
  color: #fff;
}

.movie {
  position: relative;
}

.movie img {
  width: 100%;
  height: auto;
}

.movie-title {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.movie-date {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.green {
  border: 3px solid rgb(52, 182, 108);
  position: absolute;
  top: 7px;
  left: 245px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: grey;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.orange {
  border: 3px solid orange;
  position: absolute;
  top: 7px;
  left: 245px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: grey;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.red {
  border: 3px solid red;
  position: absolute;
  top: 7px;
  left: 245px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: grey;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin: -15px 0px 20px 0px;
  border-radius: 5px;
}

.movie button:hover {
  background-color: #0056b3;
}

.genre {
  color: #eac231;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 0px 0px 10px 0px;
}
