.movie-list {
  margin: 150px 0px 0px 0px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.movie {
  width: 18%;
  margin: 0px 30px 60px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  background-color: #ffffff48;
}

.movie img {
  width: 100%;
  height: auto;
}

.movie-title {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
